/* Fonts-Family
font-family: 'Open Sans', sans-serif;
*/

 /* GENERAL */
* {
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #ebebeb;
    margin:0 auto;
    text-align: center;
}
/* TITLES */

h1{
    font-size: 30px;
    font-weight: 800;
    color:#dd5555;
}

h2{
    color:#817d7d;
}

/* PARAGRAPHES */
p{
    text-align: justify;
    text-justify: inter-word;
    color:#7d7d7d;
    
}


.up p{
    font-size: 13px;
    padding: 25px 50px 75px;
}

.up{
    margin: 15px auto 0 auto; /* top right bottom left */
    width:500px;
    background-color: #ffffff;
}


